@font-face {
  font-family: 'fb-web';
  src:  url('fonts/fb-web.eot?jobb1c');
  src:  url('fonts/fb-web.eot?jobb1c#iefix') format('embedded-opentype'),
    url('fonts/fb-web.ttf?jobb1c') format('truetype'),
    url('fonts/fb-web.woff?jobb1c') format('woff'),
    url('fonts/fb-web.svg?jobb1c#fb-web') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fb-web' !important;
  speak: none;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-arrow-back-black:before {
  content: "\e900";
}
.icon-ic-arrow-drop-down-black:before {
  content: "\e901";
}
.icon-ic-backspace-black:before {
  content: "\e902";
}
.icon-ic-battery-disconnected-black:before {
  content: "\e903";
}
.icon-ic-battery-full-black:before {
  content: "\e904";
}
.icon-ic-bluetooth-connect-black:before {
  content: "\e905";
}
.icon-ic-bluetooth-connected-black:before {
  content: "\e906";
}
.icon-ic-chevron-left-black:before {
  content: "\e907";
}
.icon-ic-chevron-right-black:before {
  content: "\e908";
}
.icon-ic-close-black:before {
  content: "\e909";
}
.icon-ic-content-add-black:before {
  content: "\e90a";
}
.icon-ic-content-remove-black:before {
  content: "\e90b";
}
.icon-ic-delete-black:before {
  content: "\e90c";
}
.icon-ic-device-chipper2x-black:before {
  content: "\e90d";
}
.icon-ic-device-chipperbt-black:before {
  content: "\e90e";
}
.icon-ic-device-chipperbt2xbt-black:before {
  content: "\e90f";
}
.icon-ic-device-wisepad2-black:before {
  content: "\e910";
}
.icon-ic-done-black:before {
  content: "\e911";
}
.icon-ic-edit-black:before {
  content: "\e912";
}
.icon-ic-email-black:before {
  content: "\e913";
}
.icon-ic-exit-black:before {
  content: "\e914";
}
.icon-ic-facebook-black:before {
  content: "\e915";
}
.icon-ic-file-upload-black:before {
  content: "\e916";
}
.icon-ic-floorplan-view-black:before {
  content: "\e917";
}
.icon-ic-help-black:before {
  content: "\e918";
}
.icon-ic-history-black:before {
  content: "\e919";
}
.icon-ic-home-black:before {
  content: "\e91a";
}
.icon-ic-info-outline-black:before {
  content: "\e91b";
}
.icon-ic-list-view-black:before {
  content: "\e91c";
}
.icon-ic-logout-black:before {
  content: "\e91d";
}
.icon-ic-menu-black:before {
  content: "\e91e";
}
.icon-ic-new-table-black:before {
  content: "\e91f";
}
.icon-ic-note-black:before {
  content: "\e920";
}
.icon-ic-page-first-black:before {
  content: "\e921";
}
.icon-ic-page-last-black:before {
  content: "\e922";
}
.icon-ic-payment-card-black:before {
  content: "\e923";
}
.icon-ic-payment-cash-black:before {
  content: "\e924";
}
.icon-ic-payment-debit-black:before {
  content: "\e925";
}
.icon-ic-payment-gift-black:before {
  content: "\e926";
}
.icon-ic-payment-void-black:before {
  content: "\e927";
}
.icon-ic-people-black:before {
  content: "\e928";
}
.icon-ic-phone-black:before {
  content: "\e929";
}
.icon-ic-print-black:before {
  content: "\e92a";
}
.icon-ic-qrcode-black:before {
  content: "\e92b";
}
.icon-ic-receipt-black:before {
  content: "\e92c";
}
.icon-ic-refresh-black:before {
  content: "\e92d";
}
.icon-ic-refund-black:before {
  content: "\e92e";
}
.icon-ic-register-black:before {
  content: "\e92f";
}
.icon-ic-remove-circle-black:before {
  content: "\e930";
}
.icon-ic-reorder-black:before {
  content: "\e931";
}
.icon-ic-rotate-black:before {
  content: "\e932";
}
.icon-ic-send-black:before {
  content: "\e933";
}
.icon-ic-server-black:before {
  content: "\e934";
}
.icon-ic-settings-black:before {
  content: "\e935";
}
.icon-ic-store-black:before {
  content: "\e936";
}
.icon-ic-table-number-black:before {
  content: "\e937";
}
.icon-ic-table-type-black:before {
  content: "\e938";
}
.icon-ic-textsms-black:before {
  content: "\e939";
}
.icon-ic-arrow-up-black:before {
  content: "\e93a";
}
